* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
p {
    cursor: default;
}

body {
    background-color: #31393c;
}

.top {
    box-shadow: 0 0.6vh 0.6vh rgba(0, 0, 0, 0.4);
}

nav {
    width: 100vw;
    background-color: #2554bb;
    border-bottom: 0.25vh solid #fdca40;
    box-shadow: 0 0.6vh 0.6vh rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 10;
}

.nav-bar {
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
    margin: auto;
}

nav a {
    color: white;
    font-size: 1.5vw;
    text-decoration: none;
    padding: 1.3vh 6vw;
    border-width: 1px;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: #5a7ac0;
}

header {
    background-color: #283176;
    text-align: center;
}

h1 {
    color: white;
    padding-top: 1vh;
    font-size: 8vw;
}

header p {
    color: white;
    padding-bottom: 1vh;
    font-size: 1.3vw;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    gap: 4vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.section-b {
    background-color: #fdca40;
    border-radius: 0.5vh;
    box-shadow: 0.3vh 0.3vh 0.9vh rgba(0, 0, 0, 0.7);
    padding: 1vh;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    width: 0;
    flex-grow: 3;
}

.section-text h2 {
    font-size: 4vw;
    font-weight: bold;
}

.section-a .section-text h2 {
    color: #fdca40;
}

.section-b .section-text h2 {
    color: white;
}

.section-text p {
    font-weight: lighter;
    font-size: 1.8vw;
}
.section-a .section-text p {
    color: white;
}

.section-b .section-text p {
    color: #283176;
}

.section-img {
    width: 0;
    flex-grow: 2;
}

.section-img img {
    width: 100%;
    box-shadow: 0.3vh 0.3vh 0.9vh rgba(0, 0, 0, 0.7);
}
