main {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    gap: 4vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.section-b {
    background-color: #fdca40;
    border-radius: 0.5vh;
    box-shadow: 0.3vh 0.3vh 0.9vh rgba(0, 0, 0, 0.7);
    padding: 1vh;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    width: 0;
    flex-grow: 3;
}

.section-text h2 {
    font-size: 4vw;
    font-weight: bold;
}

.section-a .section-text h2 {
    color: #fdca40;
}

.section-b .section-text h2 {
    color: white;
}

.section-text p {
    font-weight: lighter;
    font-size: 1.8vw;
    line-height: 2.2vw;
}
.section-a .section-text p {
    color: white;
    font-weight: 100;
}

.section-b .section-text p {
    color: #283176;
}

.section-text .video-link {
    color: #2554bb;
    font-size: 3.4vw;
}

.section-text .video-link:hover {
    color: #2176ff;
}

.section-img {
    width: 0;
    flex-grow: 2;
}

.section-img img {
    width: 100%;
    box-shadow: 0.3vh 0.3vh 0.9vh rgba(0, 0, 0, 0.7);
}
